{% comment %}
  Footer for lesson pages.
{% endcomment %}

{% include gh_variables.html %}

<footer>
  <div class="row">
    <div class="col-md-6 copyright" align="left">
	<a href="{{ site.cc_by_human }}"><img width="80px"src="https://mirrors.creativecommons.org/presskit/buttons/88x31/png/cc-zero.png" /></a> Last Modified: {{ 'now' | date: "%Y-%m-%d" }}
    </div>
    <div class="col-md-6 help-links" align="right">
	<a href="{{repo_url}}/edit/{{ default_branch }}/{{page.path}}" data-checker-ignore>Edit on GitHub</a>
	/
	<a href="{{ repo_url }}/">Source</a>
	/
	<a href="{{ repo_url }}/blob/{{ source_branch }}/CITATION" data-checker-ignore>Cite</a>
	/
	<a href="mailto:{{ site.email }}">Contact</a>
    </div>
  </div>
</footer>
