{% include base_path.html %}

{% comment %}
  Display syllabus in tabular form.
  Days are displayed if at least one episode has 'start = true'.
{% endcomment %}
<div class="syllabus">
  <h2 id="schedule">Course Sections</h2>

  {% assign lesson_number = 0 %}
  {% assign day = 0 %}
  {% assign multiday = false %}
  {% for section in site.sections %}
    {% if section.start %}{% assign multiday = true %}{% break %}{% endif %}
  {% endfor %}
  {% assign current = site.start_time %}

  <table class="table table-striped">
  <tr>
<th>
 Estimated Time
</th>
<th>
 Section Title
</th>
<th>
Section Purpose
</th>
  </tr>
  <tr>
        <td>
            01:30
        </td>
        <td>
            0. <a href="{{ site.introductions }}">Introductions</a>
        </td>
        <td>
            Link to PDF with questions and prompts.
        </td>
  </tr>

    {% for section in site.sections %}
        {% if section.layout == "section" %}
        {% assign currentSection = section.sectionTitle %}
        {% assign totalTimeInSection = 0 %}
        {% for sec in site.sections %}
            {% if sec.sectionTitle == currentSection %}
                {% assign totalTimeInSection = totalTimeInSection | plus: sec.teaching %}
            {% endif %}
        {% endfor %}
        {% assign hours = totalTimeInSection | divided_by: 60 %}
        {% assign minutes = totalTimeInSection | modulo: 60 %}
        <tr>
            <td class="col-md-2">{% if hours < 10 %}0{% endif %}{{ hours }}:{% if minutes < 10 %}0{% endif %}{{ minutes }}
            </td>
            <td class="col-md-3">
            {% assign lesson_number = lesson_number | plus: 1 %}
            {{ lesson_number }}. <a href="{{ relative_root_path }}{{ section.url }}">{{ section.sectionTitle }}</a>
            </td>
            <td class="col-md-7">
            {{ section.overview }}
            </td>
        </tr>
    {% endif %}
    {% endfor %}

  </table>

  <p>
    The actual schedule may vary slightly depending on the topics and exercises chosen by the Course Lead.
  </p>

</div>
